In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

import warnings
warnings.filterwarnings("ignore", category=FutureWarning, message="is_sparse is deprecated")

In [37]:
cholera_data = pd.read_csv("cholera_data_with_renamed_columns.csv")

In [38]:
cholera_data

,Longitude,Latitude,Sep_2018,Oct_2018,Nov_2018,Dec_2018,Longitude_2008,Latitude_2008,Cases_2008,Longitude_2023,Latitude_2023,Apr_2023,May_2023,Jun_2023,Aug_2023,Sep_2023,Oct_2023,Nov_2023,Dec_2023
0,30.921033,-17.885700,2140,690,56,2,30.921033,-17.885700,2536,30.921033,-17.885700,13,103,101,32,1,11,148,46
1,31.174588,-17.729478,134,39,2,0,31.174588,-17.729478,759,31.174588,-17.729478,0,4,7,3,0,4,829,231
2,30.993883,-17.937023,61,23,6,0,30.993883,-17.937023,541,30.993883,-17.937023,7,4,0,0,1,9,10,16
3,31.065689,-18.014479,42,14,0,0,31.065689,-18.014479,3710,31.065689,-18.014479,1,3,1,0,0,3,10,2
4,31.034064,-17.864239,317,660,56,2,31.034064,-17.864239,2138,31.034064,-17.864239,0,24,20,10,2,12,110,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,30.965073,-17.771210,4,0,0,2,30.965073,-17.771210,0,30.965073,-17.771210,0,0,0,0,0,0,0,0
62,30.989550,-17.855230,0,0,0,0,30.989550,-17.855230,61,30.989550,-17.855230,0,0,0,0,0,0,0,0
63,31.030600,-17.812500,0,0,0,0,31.030600,-17.812500,21,31.030600,-17.812500,0,0,0,0,0,0,0,0
64,31.119996,-17.787922,0,0,0,0,31.119996,-17.787922,0,31.119996,-17.787922,0,1,0,0,0,0,0,0
65,31.138551,-17.777965,0,0,0,0,31.138551,-17.777965,0,31.138551,-17.777965,0,0,0,0,0,1,0,0

In [39]:

# Use NumPy to calculate the sum of all months for each year
total_2018 = cholera_data[['Sep_2018', 'Oct_2018', 'Nov_2018', 'Dec_2018']].values.sum(axis=1)
total_2023 = cholera_data[['Apr_2023', 'May_2023', 'Jun_2023', 'Aug_2023', 'Sep_2023', 'Oct_2023', 'Nov_2023', 'Dec_2023']].values.sum(axis=1)

# Add the calculated sums as new columns to the DataFrame
cholera_data['Cases_2018'] = total_2018
cholera_data['Cases_2023'] = total_2023

# Display the updated dataframe
cholera_data

,Longitude,Latitude,Sep_2018,Oct_2018,Nov_2018,Dec_2018,Longitude_2008,Latitude_2008,Cases_2008,Longitude_2023,...,Apr_2023,May_2023,Jun_2023,Aug_2023,Sep_2023,Oct_2023,Nov_2023,Dec_2023,Cases_2018,Cases_2023
0,30.921033,-17.885700,2140,690,56,2,30.921033,-17.885700,2536,30.921033,...,13,103,101,32,1,11,148,46,2888,455
1,31.174588,-17.729478,134,39,2,0,31.174588,-17.729478,759,31.174588,...,0,4,7,3,0,4,829,231,175,1078
2,30.993883,-17.937023,61,23,6,0,30.993883,-17.937023,541,30.993883,...,7,4,0,0,1,9,10,16,90,47
3,31.065689,-18.014479,42,14,0,0,31.065689,-18.014479,3710,31.065689,...,1,3,1,0,0,3,10,2,56,20
4,31.034064,-17.864239,317,660,56,2,31.034064,-17.864239,2138,31.034064,...,0,24,20,10,2,12,110,28,1035,206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,30.965073,-17.771210,4,0,0,2,30.965073,-17.771210,0,30.965073,...,0,0,0,0,0,0,0,0,6,0
62,30.989550,-17.855230,0,0,0,0,30.989550,-17.855230,61,30.989550,...,0,0,0,0,0,0,0,0,0,0
63,31.030600,-17.812500,0,0,0,0,31.030600,-17.812500,21,31.030600,...,0,0,0,0,0,0,0,0,0,0
64,31.119996,-17.787922,0,0,0,0,31.119996,-17.787922,0,31.119996,...,0,1,0,0,0,0,0,0,0,1
65,31.138551,-17.777965,0,0,0,0,31.138551,-17.777965,0,31.138551,...,0,0,0,0,0,1,0,0,0,1

In [43]:
# Columns to be kept (desired columns)
columns_to_keep = [
    'Longitude', 'Latitude',
    'Longitude_2008', 'Latitude_2008', 'Cases_2008', 'Longitude_2023', 'Latitude_2023','Cases_2018','Cases_2023'
]

# Dropping columns that are not in columns_to_keep
cholera_data = cholera_data[columns_to_keep]

In [44]:

# Repeat each row 'n' times to generate more rows
n = 375 # Number of times to repeat each row
cholera_data_expanded = pd.concat([cholera_data] * n, ignore_index=True)

In [45]:
cholera_data_expanded

,Longitude,Latitude,Longitude_2008,Latitude_2008,Cases_2008,Longitude_2023,Latitude_2023,Cases_2018,Cases_2023
0,30.921033,-17.885700,30.921033,-17.885700,2536,30.921033,-17.885700,2888,455
1,31.174588,-17.729478,31.174588,-17.729478,759,31.174588,-17.729478,175,1078
2,30.993883,-17.937023,30.993883,-17.937023,541,30.993883,-17.937023,90,47
3,31.065689,-18.014479,31.065689,-18.014479,3710,31.065689,-18.014479,56,20
4,31.034064,-17.864239,31.034064,-17.864239,2138,31.034064,-17.864239,1035,206
...,...,...,...,...,...,...,...,...,...
24745,30.965073,-17.771210,30.965073,-17.771210,0,30.965073,-17.771210,6,0
24746,30.989550,-17.855230,30.989550,-17.855230,61,30.989550,-17.855230,0,0
24747,31.030600,-17.812500,31.030600,-17.812500,21,31.030600,-17.812500,0,0
24748,31.119996,-17.787922,31.119996,-17.787922,0,31.119996,-17.787922,0,1
24749,31.138551,-17.777965,31.138551,-17.777965,0,31.138551,-17.777965,0,1

In [46]:
columns_to_train_on = [
    'Longitude', 'Latitude']
x=cholera_data_expanded[columns_to_train_on]
y=cholera_data_expanded['Cases_2023']

In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn import metrics

from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create and fit the Linear Regression model
regressor = LinearRegression()
regressor.fit(X_train_scaled, y_train)

# Predict the target variable
y_pred = regressor.predict(X_test_scaled)

# Evaluate the model
r2_score = metrics.r2_score(y_test, y_pred)
mean_absolute_error = metrics.mean_absolute_error(y_test, y_pred)
mean_squared_error = metrics.mean_squared_error(y_test, y_pred)

print("R-squared (R2) Score:", r2_score)
print("Mean Absolute Error (MAE):", mean_absolute_error)
print("Mean Squared Error (MSE):", mean_squared_error)

R-squared (R2) Score: 0.01069114875541255
Mean Absolute Error (MAE): 125.52007116963196
Mean Squared Error (MSE): 117565.34919072253

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [ ]:
for i in cholera_data.select_dtypes(include='object'):
  cholera_data[i]=le.fit_transform(cholera_data[i])

columns_to_train_on = [
    'Longitude', 'Latitude',
    'Longitude_2008', 'Latitude_2008', 'Cases_2008', 'Longitude_2023', 'Latitude_2023','Cases_2018'
]
x=cholera_data[columns_to_train_on]
y=cholera_data['Cases_2023']

In [ ]:
from sklearn.model_selection import train_test_split

x_train , x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=534)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [ ]:
x_train=sc.fit_transform(x_train)
x_train

In [ ]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [ ]:
reg.fit(x_train,y_train)

In [ ]:
y_pred=reg.predict(x_test)

In [ ]:
from sklearn import metrics
R2 = metrics.r2_score(y_test,y_pred)
R2

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

cholera_data_cleaned = cholera_data

X = cholera_data_cleaned[['Longitude', 'Latitude']].astype(float)
y = cholera_data_cleaned['Cases_2018'].astype(float)

model = LinearRegression()
model.fit(X, y)

coefficients = model.coef_
intercept = model.intercept_

print('The linear regression equation is:')
print('cases = {:.2f} * x + {:.2f} * y + {:.2f}'.format(coefficients[0], coefficients[1], intercept))

fig = plt.figure(facecolor='white')
ax = fig.add_subplot(111, projection='3d')
ax.scatter(X['Longitude'], X['Latitude'], y, color='blue', label='Data points')

x_surf, y_surf = np.meshgrid(np.linspace(X['Longitude'].min(), X['Latitude'].max(), 100),
                             np.linspace(X['Longitude'].min(), X['Latitude'].max(), 100))

z_surf = model.predict(np.c_[x_surf.ravel(), y_surf.ravel()]).reshape(x_surf.shape)

ax.plot_surface(x_surf, y_surf, z_surf, color='red', alpha=0.5)

ax.set_xlabel('x')
ax.set_ylabel('y')
ax.set_zlabel('cases')
ax.set_title('Linear Regression Plane')
plt.legend()
plt.show()

In [ ]:
def predict_cases(x, y):
    input_data = np.array([[x, y]])
    prediction = model.predict(input_data)
    return prediction[0]

x_input = 30.92103269
y_input = -17.88570024
predicted_cases = predict_cases(x_input, y_input)
print('Predicted cases for x =', x_input, 'and y =', y_input, ':', predicted_cases)

In [ ]:
def predict_cases(x, y):
    input_data = np.array([[x, y]])
    prediction = model.predict(input_data)
    return prediction[0]

x_input = 30.92103269
y_input = -17.88570024
predicted_cases = predict_cases(x_input, y_input)
print('Predicted cases for x =', x_input, 'and y =', y_input, ':', predicted_cases)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

y_pred = model.predict(X)

mae = mean_absolute_error(y, y_pred)

mse = mean_squared_error(y, y_pred)

r2 = r2_score(y, y_pred)

print('Mean Absolute Error (MAE):', mae)
print('Mean Squared Error (MSE):', mse)
print('R-squared (R2) Score:', r2)